@use "../abstracts/" as *;
@use "../utils/" as *;
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
li.half {
  width: 49%;
  float: left;
  margin-left: 2%;
  &:first-child {
    margin-left: 0;
  }
}
.contact-form {
  width: 100%;

  li {
    margin-bottom: 0.7em;
  }
  label {
    font-size: 1.1rem;
  }
}
input,
textarea {
  font-family: "Prompt", sans-serif;
  width: 100%;
  padding: 0.5em;
  background-color: $input-clr;
  font-size: 1.1rem;
  height: 3em;
  color: $white;
}
.submit-btn {
  font-family: inherit;
}
textarea {
  height: calc(3em * 3);
}
input[type="text"],
input[type="email"] {
  font-size: 1.1rem;
  height: 3em;
}
@include breakpoint("medium") {
  .submit-btn {
    width: 10em;
    transition: transform 0.4s ease-in-out;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
  .contact-form {
    max-width: 80%;
  }
}
@include breakpoint("large") {
  .contact-form {
    max-width: 100%;
  }
}
