@use "../abstracts/" as *;

li.half {
  width: 49%;
  float: left;
  margin-left: 2%;
  &:first-child {
    margin-left: 0;
  }
}
.contact-form {
  width: 100%;

  li {
    margin-bottom: 0.7em;
  }
  label {
    font-size: 1.1rem;
  }
}
input,
textarea {
  width: 100%;
  padding: 0.5em;
  background-color: $input-clr;
  font-size: 1.1rem;
  height: 3em;
  color: $white;
}
textarea {
  height: calc(3em * 3);
}
input[type="text"],
input[type="email"] {
  font-size: 1.1rem;
  height: 3em;
}
