@use "../abstracts/" as *;
.project-card {
  margin-bottom: 3em;
  max-width: 23em;
  width: 100%;
  display: grid;
  margin: 0 auto;
  place-items: center;
  h2 {
    text-align: center;
  }
}

.project-card--outer {
  clip-path: $truncated-corner;
  height: 30em;
  width: 100%;
  background-color: $neon-red;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}
.project-card--inner {
  clip-path: $truncated-corner;
  //   border: 5px solid $neon-red;
  background-image: url(../../assets/img/about-me-cover.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 97%;
  width: 97%;
  display: flex;
  margin: auto;
  padding: 1em 0 4em 0;
  position: relative;
  background-color: black;
}
.project-btn {
  padding: 1em 0.3em;
  width: 45%;
  color: $white;
  font-size: 1rem;
  background-color: $neon-red;
  transition: transform 0.3s ease;
  &:hover,
  &:focus {
    transform: scale(1.07);
    background-color: $neon-red;
  }
}
.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0.8em 0 0.8em;
  width: 100%;
}
