@use "../abstracts/" as *;
.project-card {
  margin-bottom: 3em;
  max-width: 23em;
  width: 100%;
  display: grid;
  margin: 0 auto;
  place-items: center;

  h2 {
    text-align: center;
  }
}

.project-card--outer {
  clip-path: $truncated-corner;
  height: 27em;
  width: 90%;
  background-color: $neon-red;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}
.project-card--inner {
  clip-path: $truncated-corner;
  //   border: 5px solid $neon-red;
  background-image: url(../../assets/img/about-me-cover.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 97%;
  width: 97%;
  display: flex;
  margin: auto;
  padding: 1em 0 4em 0;
  box-shadow: 0 0 1em 0 $neon-red;

  position: relative;
  background-color: black;
}
.project-btn {
  padding: 0.5em;
  width: 45%;
  color: $white;
  font-size: 1.1rem;
  background-color: $neon-red;
  transition: transform 0.3s ease;
  &:hover,
  &:focus {
    transform: scale(1.07);
    background-color: $neon-red;
  }
}
.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0.8em 0 0.8em;
  width: 100%;
  position: relative;
}
.project-show-more-arrow {
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  width: 1em;
  height: 1em;
  transform: rotate(135deg);
  margin: 0 auto 1.5em auto;
}
.project-overview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(165, 6, 6, 0.925);
  padding: 2em;
  padding-top: 0.9em;
  transform: translateY(92%);
  transition: transform 0.4s ease-in;
  cursor: pointer;
  &:hover {
    transform: translateY(0%);
    .project-show-more-arrow {
      transform: rotate(-45deg);
    }
  }
  .project-skills {
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(8, 222, 250);
    margin-bottom: 1em;
    span:not(:last-child) {
      margin-right: 0.4em;
    }
  }
  .project-description {
    word-wrap: break-word;
  }
}
