@use "../abstracts/" as *;
@use "../utils/" as *;
.skill-tab {
  padding: 0.8em;
  border: 3px solid $neon-pink;
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  box-shadow: inset 0 0 1em 0 $neon-pink, 0 0 1em 0 $neon-pink;
  transition: all 0.5s ease;
  p {
    text-align: center;
    color: $white;
    margin-left: 0.2em;
  }
  img {
    width: 1em;
  }
  &:hover {
    background-color: $neon-pink;
  }
}

@include breakpoint("medium") {
  .skill-tab p {
    font-size: 1.1rem;
    margin-left: 0.5em;
  }
  .skill-tab img {
    width: 2em;
  }
}
@include breakpoint("large") {
  .skill-tab p {
    font-size: 1.2rem;
  }
  .skill-tab img {
    width: 2.5em;
  }
}
