@use "../abstracts/" as *;
@use "../utils/" as *;
.skill-tab {
  padding: 0.8em;
  border: 3px solid $dark-purple;
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    color: $white;
    margin-left: 0.2em;
  }
}

@include breakpoint("medium") {
  .skill-tab p {
    font-size: 1.1rem;
  }
}
@include breakpoint("large") {
  .skill-tab p {
    font-size: 1.2rem;
  }
}
