@use "../abstracts/" as *;
@use "../utils/" as *;
.skill-tab {
  padding: 0.8em;
  border: 3px solid $dark-purple;
  width: 47%;
  p {
    text-align: center;
    color: $white;
  }
}

@include breakpoint("medium") {
  .skill-tab p {
    font-size: 1.1rem;
  }
}
