html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-style: none;
  background-color: inherit;
  border-style: none;
  cursor: pointer;
}

li {
  list-style: none;
}
