h1,
h2,
h3,
h4,
p,
span {
  margin-top: 0;
  letter-spacing: 2px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
span{
  font-size: 1rem;
}
a,
button,
li,
input,
textarea {
  text-decoration: none;
  font-family: inherit;
}
