$white: white;
$black: black;
$background-clr: rgb(4, 0, 15);
$nav-background-clr: #1d1d20;
$dark-purple: #4700d8;
$neon-red: #d22730;
$neon-pink: #bd00ff;
$nav-btn-clr: #8496a7;
$input-clr: #764ced;
$linear-gradient-1: rgba(4, 0, 15, 0.89);
$linear-gradient-2: rgba(4, 0, 15, 0.808);

// Clip-path
$truncated-corner: polygon(
  20% 0%,
  85% 0%,
  100% 15%,
  100% 100%,
  80% 100%,
  15% 100%,
  0% 85%,
  0 0
);
