$white: white;
$black: black;
$background-clr: rgb(4, 0, 15);
$nav-background-clr: #1d1d20;
$dark-purple: #4700d8;
$neon-red: #d22730;
$nav-btn-clr: #8496a7;
$linear-gradient-1: rgba(4, 0, 15, 0.89);
$linear-gradient-2: rgba(4, 0, 15, 0.808);
