@use "../abstracts/" as *;
@use "../utils/" as *;
@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.education-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  h4 {
    font-size: 1.2rem;
  }
  ul {
    margin-left: 1em;
  }
}
.profile-blurb {
  margin-bottom: 4em;
  text-align: center;
  max-width: 55em;
}
.profile-card {
  // border: 3px solid green;
  padding: 2em;
  margin-bottom: 5em;
  // box-shadow: 0 0 1em 0 $neon-green;
  border-radius: 5px;
  max-width: 30em;
  background-color: $black;
  position: relative;
  p {
    color: $neon-green;
    margin-bottom: 0.8em;
    span {
      color: $white;
    }
  }
  // overflow: hidden;

  &::before {
    content: "";
    width: 102%;
    height: 102%;
    position: absolute;
    top: -1%;
    left: -1%;
    background: $neon-green;
    box-shadow: 0 0 2.5em 0.3em $neon-green;
    border-radius: 10px;
    z-index: -2;
    animation: pulse 4s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    width: 96%;
    height: 96%;
    top: 2%;
    left: 2%;
    background: black;
    border-radius: 10px;
    z-index: -1;
  }
}
.project-content-wrapper {
  z-index: 99;
}

.border-bottom-green {
  border-bottom: 3px solid $neon-green;
  margin-bottom: 1em;
}
.stat-bar-img {
  max-width: 9em;
}
.profile-content {
  //   background-color: $neon-green;
  z-index: 99;
}
.green {
  color: $neon-green;
}
@include breakpoint("medium") {
  .education-wrapper {
    flex-direction: row;
    div {
      width: 49%;
    }
  }
  .about-me-section {
    max-width: 70%;
    margin: 0 auto;
  }
}
