@use "../abstracts/" as *;
@use "../utils/" as *;

.contact-section {
  margin: 0 auto;
  max-width: 45em;
  h2 {
    margin-bottom: 0.5em;
  }
}
.socials-container {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  width: 100%;
  max-width: 6em;
  margin-bottom: 1em;

  svg {
    cursor: pointer;
    &:hover,
    &:focus {
      transition: all 0.3s ease;
      color: $input-clr;
    }
  }
}
@include breakpoint("large") {
  .contact-section {
    max-width: 55em;
  }
}
