@use "../abstracts/" as *;
@use "../utils/" as *;
.projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}
.projects-section {
  h3 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 4em;
    max-width: 40em;
    font-family: "Kdam Thmor Pro", sans-serif;
  }
  h4 {
    font-size: 1.5rem;
  }
}
@include breakpoint("medium") {
  .projects-container {
    flex-direction: row;
    max-width: 70%;
  }
}
